In [31]:
import pandas as pd
import numpy as np

In [32]:


movies = pd.read_csv('./dataset/movies_metadata.csv', low_memory = False)
movies.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [33]:
ratings = pd.read_csv('./dataset/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [34]:
movies = movies[['id', 'original_title', 'original_language', 'vote_count']]

movies = movies.rename (
    columns = {
        'id': 'MOVIE_ID',
        'original_title': 'TITLE',
        'original_language': 'LANGUAGE',
        'vote_count': 'VOTE_COUNT'
    }
)

movies.head()

  MOVIE_ID                        TITLE LANGUAGE  VOTE_COUNT
0      862                    Toy Story       en      5415.0
1     8844                      Jumanji       en      2413.0
2    15602             Grumpier Old Men       en        92.0
3    31357            Waiting to Exhale       en        34.0
4    11862  Father of the Bride Part II       en       173.0

In [35]:
ratings = ratings[['userId', 'movieId', 'rating']]

ratings = ratings.rename (
    columns = {
        'userId': 'USER_ID',
        'movieId': 'MOVIE_ID',
        'rating': 'RATING'
    }
)

ratings.head()

   USER_ID  MOVIE_ID  RATING
0        1       110     1.0
1        1       147     4.5
2        1       858     5.0
3        1      1221     5.0
4        1      1246     5.0

In [41]:
movies.isna().sum()

MOVIE_ID       0
TITLE          0
LANGUAGE      11
VOTE_COUNT     6
dtype: int64

In [42]:
movies.dropna(inplace = True)

In [44]:
ratings.isna().sum()

USER_ID     0
MOVIE_ID    0
RATING      0
dtype: int64

In [46]:
ratings['USER_ID'].value_counts()

USER_ID
45811     18276
8659       9279
270123     7638
179792     7515
228291     7410
          ...
30155         1
9641          1
164717        1
243426        1
234625        1
Name: count, Length: 270896, dtype: int64

In [53]:
rating_count = ratings['USER_ID'].value_counts() > 999
y = rating_count[rating_count].index
y.shape

(2509,)

In [54]:
ratings.shape

(26024289, 3)

In [57]:
ratings = ratings[ratings['USER_ID'].isin(y)]
ratings.shape

(3844582, 3)

In [58]:
ratings.head()

       USER_ID  MOVIE_ID  RATING
17291      229         1     3.0
17292      229         2     3.0
17293      229         4     2.0
17294      229         5     1.0
17295      229         7     2.0

In [59]:
movies = movies[movies['VOTE_COUNT'] > 999]

In [61]:
language_movies = movies['LANGUAGE'].value_counts()
language_movies.head(20)

LANGUAGE
en    1100
fr       5
ja       5
it       3
ko       2
pt       1
de       1
es       1
cn       1
sv       1
id       1
Name: count, dtype: int64

In [62]:
movies = movies[movies['LANGUAGE'] == 'en']

In [63]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1100 entries, 0 to 44842
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MOVIE_ID    1100 non-null   object
 1   TITLE       1100 non-null   object
 2   LANGUAGE    1100 non-null   object
 3   VOTE_COUNT  1100 non-null   float64
dtypes: float64(1), object(3)
memory usage: 43.0+ KB

In [64]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3844582 entries, 17291 to 26023521
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   USER_ID   int64
 1   MOVIE_ID  int64
 2   RATING    float64
dtypes: float64(1), int64(2)
memory usage: 117.3 MB

In [65]:
movies['MOVIE_ID'] = movies['MOVIE_ID'].astype(int)

In [66]:
movies.shape

(1100, 4)

In [67]:
df = ratings.merge(movies, on = 'MOVIE_ID')
df.head()

   USER_ID  MOVIE_ID  RATING                    TITLE LANGUAGE  VOTE_COUNT
0      229        12     1.0             Finding Nemo       en      6292.0
1      229        70     3.0      Million Dollar Baby       en      2519.0
2      229        77     3.0                  Memento       en      4168.0
3      229        85     3.0  Raiders of the Lost Ark       en      3949.0
4      229       106     4.0                 Predator       en      2129.0

In [71]:
df.shape

(189882, 6)

In [73]:
df.isna().sum()

USER_ID       0
MOVIE_ID      0
RATING        0
TITLE         0
LANGUAGE      0
VOTE_COUNT    0
dtype: int64

In [76]:
df.drop_duplicates(['USER_ID', 'MOVIE_ID'], inplace = True)
df.shape

(189882, 6)

In [77]:
del movies['MOVIE_ID']

In [79]:
movies_pivot = df.pivot_table(columns = 'USER_ID', index = 'TITLE', values = 'RATING')

movies_pivot.head()

USER_ID,229,231,741,836,1104,1136,1243,1380,1652,1846,...,269632,269750,269913,270071,270123,270213,270237,270564,270654,270887
TITLE,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.5,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN
12 Angry Men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN
127 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.5,2.0,NaN,NaN,NaN,NaN
2 Fast 2 Furious,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
movies_pivot.fillna(0, inplace = True)
movies_pivot.head()

USER_ID,229,231,741,836,1104,1136,1243,1380,1652,1846,...,269632,269750,269913,270071,270123,270213,270237,270564,270654,270887
TITLE,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.5,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0
127 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.5,2.0,0.0,0.0,0.0,0.0
2 Fast 2 Furious,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
from scipy.sparse import csr_matrix

movies_sparse = csr_matrix(movies_pivot)

In [82]:
type(movies_sparse)

scipy.sparse._csr.csr_matrix

In [83]:
from sklearn.neighbors import NearestNeighbors

model = NearestNeighbors(algorithm = 'brute')
model.fit(movies_sparse)

NearestNeighbors(algorithm='brute')

In [93]:
def getSuggestions(movie_name):
    _, suggestions_id = model.kneighbors(movies_pivot.filter(items = [movie_name], axis = 0).values.reshape(1, -1))
    movie_list = [movie for movie in movies_pivot.index[suggestions_id[0]]]
    return movie_list[1:]

In [97]:
from random import choice

In [99]:
choice(getSuggestions('Toy Story'))

'Meet the Fockers'

In [101]:
choice(getSuggestions('1408'))

'Snitch'

In [102]:
choice(getSuggestions('2 Fast 2 Furious'))

'Brokeback Mountain'